**/*.map
**/*.ts
**/.commitlintrc.yaml
**/.editorconfig
**/.eslintrc.json
**/.lintstagedrc.yaml
**/.prettierrc.json
**/.vscode-test.*
**/biome.json
**/tsconfig.json
.gitignore
.vscode-test/**
.vscode/**
.yarnrc
esbuild.js
node_modules/**
out/**
src/**
vsc-extension-quickstart.md
